
.herodiv{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 40px;

}
/* #label{
    margin-right: 20px;
} */

th{
    text-align: center !important;
    font-size: 18px;
    font-weight: 600 !important;
    font-family: "Montserrat";
}
/* .ant-table-cell::before{
    width: 0% !important;
} */
 a{
  color: black;
    text-decoration: none;
}
a:hover{
    color: black!important;
}
#row{
    padding-top: 35px;
    
    border-bottom: 2px solid #575757;
}

#filter-btn{
    background: #DD5859;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    margin-top: 30px !important;
    margin-bottom: 10px;
    height: 46px!important;
    width: 141px !important;
}
.ant-tabs-tab-btn{
    font-size: 17px !important;
}
#root1{
    display: flex;
    justify-content: space-between;
}
/* .ant-tabs-ant-list{
    border-bottom: solid red;
    width: 100%;
} */
.ant-divider::before{
    display: none;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap{
    border-bottom: 2px solid #575757;
}

.ant-tabs-ink-bar {
    height: 5px;
    margin-left: 15px !important;
    background: black !important;
  }
.ant-modal-content{
    width:fit-content;
    border-radius: 15px;
}
.ant-tabs-bar {
    border-bottom: 1px solid black !important;
}
.ant-modal-body, .ant-form{
    padding: 0px !important;
}

@media (min-width:320px) and (max-width:360px){
    
    #main-wrapper{
        flex-direction: column !important;
        
    }
    #switch{
        margin-left: 0 !important;
        max-width: 100%;
        margin-bottom: 10px;
    }
    #btn-wrap{
        flex-direction: column !important;
        
    }
    #span{
        
        flex-direction: column !important;
        margin-bottom: 10px;

    }
    #label{
        margin-left: 25px;
    }
    #btn-filter{
        margin-left: 50px;
    }
}
@media  (min-width:361px) and (max-width:570px){
    #main-wrapper{
        flex-direction: column !important;
        
    }
    #switch{
        margin-left: 0 !important;
        max-width: 100%;
        margin-bottom: 10px;
    }
    #btn-wrap{
        flex-direction: column !important;
        
    }
    #span{
        
        flex-direction: column !important;
        margin-bottom: 10px;

    }
    #label{
        margin-left: 25px;
    }
    #btn-filter{
        margin-left: 50px;
    }
   
}
@media  (min-width:571px) and (max-width:750px){
    #main-wrapper{
        flex-direction: column !important;
        
    }
    #switch{
        margin-left: 0 !important;
        max-width: 100%;
        margin-bottom: 10px;
    }
    #btn-wrap{
        flex-direction: column !important;
        
    }
    #span{
        
        flex-direction: column !important;
        margin-bottom: 10px;

    }
    #label{
        margin-left: 25px;
    }
    #btn-filter{
        margin-left: 50px;
    }
   
}

@media (min-width:751px)and (max-width:1248px){

}