
.herodiv{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 40px;

}

th{
    text-align: center !important;
    font-size: 18px;
    font-weight: 600 !important;
    font-family: "Montserrat";
}
/* .ant-table-cell::before{
    width: 0% !important;
} */
 a{
  color: black;
    text-decoration: none;
}
a:hover{
    color: black!important;
}
#row{
    padding-top: 35px;
    
    border-bottom: 2px solid #575757;
}

#filter-btn{
    background: #DD5859;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    margin-top: 30px !important;
    margin-bottom: 10px;
    height: 46px!important;
    width: 141px !important;
}
.ant-tabs-tab-btn{
    font-size: 17px !important;
}
#root1{
    display: flex;
    justify-content: space-between;
}
/* .ant-tabs-ant-list{
    border-bottom: solid red;
    width: 100%;
} */
.ant-divider::before{
    display: none;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap{
    border-bottom: 2px solid #575757;
}

.ant-tabs-ink-bar {
    height: 5px;
    background: black !important;
  }
.ant-modal-content{
    width:fit-content;
    border-radius: 15px;
}
.ant-tabs-bar {
    border-bottom: 1px solid black !important;
}
.ant-modal-body, .ant-form{
    padding: 0px !important;
}

