/* #nav-row{
    background-color: cadetblue;
    padding: 10px 20px;
    text-align: center;
} */
#nav-col{
    /* margin-left: 128px; */
    margin-top: 15px;
    
}

#nav-ul{
    list-style-type: none;
}
#nav-ul li a{
    text-decoration: none;
    color: black;
}


.col-a a{
    margin: 30px 15px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    font-size: 16px;
}
.col-a a:hover{
    color: black;
}
#eth-row{
   border: solid grey;
    
    
}
#eth-col{
    padding-right: 8px;
}
#col-img{
    
margin-top: -25px;
margin-right: 10px;
    
}
#vector{
 margin-top: -4px;
 margin-left: -5px;   
}
#nav-col-row{
    background: white;
    border-radius : 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
    margin-top: 10px;
  margin-left: 15px;
    /* border: solid; */
    height: 60px;
    width: 281px;
}
#weth{
    padding-left: 10px;
    padding-top: -5px;
    

}
#usd{
    margin-left: 15px;
    padding-top: -5px;
    

}
#eth{
    padding-left: 25px;
    padding-top: 5px;
}
#usd1{
    margin-left: 30px;
    padding-top: 5px;
}
#hamburger{
    cursor: pointer;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#hamburger div , #hamburger div:after, #hamburger div:before{
    background-color: black;
    width: 35px;
    height: 5px;
    
}
#hamburger div:after, #hamburger div:before{
    content: '';
    position: absolute;
    cursor: pointer;
}
#hamburger div:after{
    transform: translateY(200%);
}
#hamburger div:before{
    transform: translateY(-200%);
}
#hamburger.open div:before {
    transform: rotate(45deg);
  }
  
  #hamburger.open div:after {
    transform: rotate(-45deg);
  }
  #hamburger.open div {
    background: transparent;
  }  
  #overlay.menu {
    transform: translateY(200%);
  }
@media (max-width:849px){
    #hamburger{
        display: block;
    }
    #nav-col-two{
        display: none;
    }
    #main-row{
        height: inherit;
    }
    
    
}



.ant-row{
    display: flex;
    align-items: center;
}

.navbar__searchResult{
    background-color: black;
    width: 100%;
    height: 100vh;

    border: 2px solid black;
    color: white;
}

.results{
    width: 1020px;
    
    position: absolute;
    left: -228px;
    top: 170px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: fit-content;

    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    border: none;
}

@media screen and (max-width:500px) {
    
    .results{
        margin-top: 20px;
        /* width: 200px; */
        display: flex;
        align-items: center;
        justify-content: center;

        background-attachment: red;
        /* flex-direction: column; */
        width: fit-content;
        position: sticky;
        flex-wrap: wrap;
        padding: 0;
    }
}


.modelCloseBtn{
    margin: 10px 0;
    float: right;
}