.App{
    background-image: url("../src/bg.png");
    font-family: 'Montserrat';
    background-size: cover;
    padding-bottom: 70px;
}
.ant-tabs-tab-btn{
    font-size: 24px;
    color: black !important;
    text-align: center;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    padding-left: 30px;
}
.ant-select-selector{
    border-radius: 5px !important;
    height: 35px !important;
}
.ant-modal-footer{
    display: none;
}
.ant-modal-close-x{
    display: none !important;
}
.ant-modal-content{
    border-radius: 10px;
}
