.App{

    background-image: url("./assests/images/banner2.jpg");
    font-family: 'Montserrat';
   padding-bottom: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ant-tabs-tab-btn{
    font-size: 24px;
    color: black !important;
    text-align: center;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    padding-left: 30px;
}
.ant-select-selector{
    border-radius: 5px !important;
    height: 35px !important;
}
.ant-modal-footer{
    display: none;
}
.ant-modal-close-x{
    display: none !important;
}
.ant-modal-content{
    border-radius: 15px;
    padding: 0px !important;
}
